<div class="flex bg-blue-500 text-blue-100">
<% if technician_signed_in? %>
  <span>Welcome, <%= current_technician.first_name %></span>
  <%= link_to "Log out", destroy_technician_session_path, id: 'log-out' %>
<% else %>
  <%= link_to "Login", new_technician_session_path, id: 'login-technician' %>
<% end %>
</div>
